

<div class="modal fade" show="true" id="LogonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content form-container">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
            </div>
            <div class="modal-body ">
                <label for="email"><b>Email</b></label>
                <input id="email" type="text" placeholder="Enter Email" name="email" required />
                <label for="psw"><b>Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="psw" required>
                <span hidden="hidden" id="formError">Invalid Email or Password</span>
            </div>
            <div class="modal-footer">
                <button onclick="Authorize()" class="btn">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <h1 class="display-4">SQL Playground 4.0</h1>
    <p class="lead">Practice your SQL server skills here. Schema and data from figures P7.1 and P7.9 are loaded</p>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <textarea class="form-control" rows="10"  id="sqlString"></textarea>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <button onclick="SendTransactionRequest()" class="btn">Go!</button>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-6 ">
        <table class="table" id="sqlQueryResults">
            <!--https://stackoverflow.com/questions/24615850/bootstrap-adding-rows-to-a-table-->
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col"></div>
</div>
