
    <div class="form-popup" id="myForm">
        <div class="form-container">
            <h1>Login</h1>
            <label for="email"><b>Email</b></label>
            <input id="email" type="text" placeholder="Enter Email" name="email" required />
            <label for="psw"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="psw" required>
            <button onclick="Authorize()" class="btn">Login</button>
        </div>
    </div>

