@{
    ViewBag.Title = "Hello :)";
}
<h2>@ViewBag.Title</h2>
<h3>Welcome To My Webpage</h3>

<p>My name is Franco Pettigrosso, also known as the Luig. I am a software developer by day and hustler by night. I like to keep up with the latest trends in C# and computer science. I currently have a master’s in computer science from Drexel (2020) and do a plethora of things since then to keep me busy. This page is one of them. I want to put my skills to the test and see what I can come up. There might not be much right now but check back sometime. I promise you it will get better…</p>
