@model Luig.Models.ContactInfo
<h2>@Model.Title</h2>
<h3>Leave me a message and I will get back to you!</h3>
<!--https://www.w3schools.com/tags/tag_textarea.asp-->

@if (Model.HideForm)
{
    <p>Thanks! I will get back to you when I can.</p>
}
else
{
    <form action="Submit" method="post">
        <table>
            <tr>
                <td>Please send me a message. I will get back to you as soon as I can.</td>
            </tr>
            <tr>
                <td>
                    <textarea id="aLuigMessage" rows="10" cols="500" draggable="false"></textarea>
                </td>

            </tr>
            <tr>
                <td>
                    <button id="Submit" onclick="SubmitMessage()">Thank you!</button>
                </td>
            </tr>
        </table>
    </form>
}
