@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="text-small">Last changes on march 28, 2021</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Waring! This Page Is A Work In Progress!</h2>
        <p>
            This website is currently a work in progress. My goal for this website is to grow it over time. By no means this will ever be a finished product. I guess you can say that for all websites.
        </p>
        <h3>Goals I want to Achieve with this page</h3>
        <p>I don't have a particular order on what I want to get done. I just know for right now These are the Things I want to accomplish with this website for now.</p>
        <ul>
            <li>Get Articles up! I would like to display some of my works. I just don't know how I am going to set it up yet.</li>
            <li>Make This work in progress list dynamic.</li>
            <li>Create a Updates section? Maybe on the front page.</li>
            <li>Create a Windows Service to communicate with website. In theory, I would like it to notify me about any changes or any requests</li>
            <li>Suggestions box</li>
            <li>Donate!</li>
            <li>Advertisements</li>
            <li>Work on the Luigness!</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Who Is The Luig?</h2>
        <p>No one knows. The Luig is whoever you want it to be.</p>
    </div>
    <div class="col-md-6">
        <h2>How Can I Contact The Luig</h2>
        <p>It's easy to contact the Luig. All you have to do is @Html.ActionLink("email", "Contact", "home") him.</p>
    </div>
</div>