@model Luig.Models.FrontPage
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="text-small">Last changes on march 28, 2021</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Waring! This Page Is A Work In Progress!</h2>

        <p>
            This website is currently a work in progress. My goal for this website is to grow it over time. By no means this will ever be a finished product. I guess you can say that for all websites.
        </p>
        @if (Model.WorkInProgress.Length > 0)
        {
            <h3>Goals I want to Achieve with this page</h3>
            <p>I don't have a particular order on what I want to get done. I just know for right now These are the Things I want to accomplish with this website for now.</p>
            <ul>
                @foreach (var item in Model.WorkInProgress)
                {
                    if (item.status == 0)
                    {
                        <li><span class="badge badge-dark">To Do</span> @item.message</li>
                    }
                    else if (item.status == 1)//in progress
                    {
                        <li><span class="badge badge-primary">In Progress</span> @item.message</li>
                    }
                    else if (item.status == 2) //done
                    {
                        <li><span class="badge badge-success">Done</span> @item.message</li>
                    }
                }
            </ul>

        }
    </div>
    <div class="col-md-6">
        <h2>Who Is The Luig?</h2>
        <p>No one knows. The Luig is whoever you want it to be.</p>
    </div>
    <div class="col-md-6">
        <h2>How Can I Contact The Luig</h2>
        <p>It's easy to contact the Luig. All you have to do is @Html.ActionLink("email", "Contact", "home") him.</p>
    </div>
</div>