@model Luig.Models.Article[]

@{
    ViewBag.Title = "View";
}

<div class="jumbotron">
    <h2>My Articles</h2>
</div>

@if (Model is null || Model.Length <= 0)
{
    <p>Awh Luig, I couldn't get any articles for you!</p>
}
else
{
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.ImagePath" alt="My Cool Image"/></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><H1>@item.Title</H1></td>
                        </tr>
                        <tr>
                            <td>@item.SubTitle</td>
                        </tr>
                    </table>
                </td>
            </tr>
        }

    </table>
}

